<div class="w-50 card m-5 justify-content-center mx-auto">
    <div class="text-center">
        <img src="assets/images/Wissen-logo.png" class="w-50" /><br />
    </div>
    <div class="text-center">
        <h1> Welcome to our Space!!</h1>
    </div>
    <div class="text-center">
        <img src="assets/images/welcome.png" class="width-80" />
    </div><br />
    <div class="text-center">
        <div> <button class="btn btn-primary me-2 w-50" routerLink="/visitor"> Register Here </button> </div> <br />
        <div> <button class="btn btn-light me-2 w-50" routerLink="/existingVisitor">Already Registered?</button> </div> <br />
    </div><br />

</div>