<div class="w-50 card m-5 justify-content-center mx-auto">
    <div class="text-center h-12">
        <img src="assets/images/Wissen-logo.png" class="w-50" /><br />
    </div>
    <div class="text-center">
        <img src="assets/images/success.png" class="" /><br />
    </div>
    <div class="text-center">
        <h1> Thank you!!</h1>
        <h5> Have a great time at Wissen </h5>
    </div><br />
    <div class="text-center">
        <div> &larr; auto-dismiss after {{timeLeft}} sec!! &rarr; </div> <br />
        <div> <button class="btn btn-light me-2 w-50" routerLink="/">Welcome</button> </div> <br />
    </div><br />

</div>