<div class="container">
    <section class="company-logo">
        <img src="./assets/images/Wissen-logo.png">
    </section>
    <section class="welcome-image">
        <p class="welcome-text">Welcome to our space!</p>
        <img src="./assets/images/workspace.png" height="452px" width="570px">
    </section>
    <section class="register">
        <button class="btn register-button" (click)="goToForms()">Register here</button> <br/>
        <a class="registered-button">Already registered ?</a>
    </section>
</div>
