<div class="container">
  <form [formGroup]="formGroup" #formRef="ngForm">
    <div class="mb-3">
      <label for="fullName" class="form-label"
        >Full Name<span class="required">*</span></label
      >
      <input
        type="text"
        class="form-control"
        id="fullName"
        formControlName="fullName"
        [ngClass]="{
          'is-invalid':
            (f.fullName.touched && f.fullName.errors) ||
            (f.fullName.untouched && isSubmitted),
          'is-valid': f.fullName.valid
        }"
      />
      <div
        *ngIf="
          (f.fullName.touched && f.fullName.errors) ||
          (f.fullName.untouched && isSubmitted)
        "
        class="invalid-feedback"
      >
        <div *ngIf="f.fullName.errors?.required">Name is required!</div>
      </div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label"
        >Email<span class="required">*</span></label
      >
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        [ngClass]="{
          'is-invalid':
            (f.email.touched && f.email.errors) ||
            (f.email.untouched && isSubmitted),
          'is-valid': f.email.valid
        }"
      />
      <div
        *ngIf="
          (f.email.touched && f.email.errors) ||
          (f.email.untouched && isSubmitted)
        "
        class="invalid-feedback"
      >
        <div *ngIf="f.email.errors?.required">Email is required!</div>
        <div *ngIf="f.email.errors?.pattern">Enter Valid Email ID!</div>
      </div>
    </div>
    <div class="mb-3">
      <label for="phoneNumber" class="form-label"
        >Phone Number<span class="required">*</span></label
      >
      <input
        type="tel"
        class="form-control"
        id="phoneNumber"
        formControlName="phoneNumber"
        [ngClass]="{
          'is-invalid':
            (f.phoneNumber.touched && f.phoneNumber.errors) ||
            (f.phoneNumber.untouched && isSubmitted),
          'is-valid': f.phoneNumber.valid
        }"
      />
      <div
        *ngIf="
          (f.phoneNumber.touched && f.phoneNumber.errors) ||
          (f.phoneNumber.untouched && isSubmitted)
        "
        class="invalid-feedback"
      >
        <div *ngIf="f.phoneNumber.errors?.required">
          Phone Number is required!
        </div>
        <div *ngIf="f.phoneNumber.errors?.pattern">
          Numeric Only Accepted!
        </div>
        <div *ngIf="f.phoneNumber.errors?.maxlength">
          Maximum length is 10!
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="fullName" class="form-label"
        >Card Number<span class="required">*</span></label
      >
      <input
        type="text"
        class="form-control"
        id="cardNumber"
        formControlName="cardNumber"
      />
    </div>
    <div class="mb-3">
      <label for="purposeOfVisit" class="form-label"
        >Purpose of Visit<span class="required">*</span></label
      >
      <select
        class="form-select"
        id="purposeOfVisit"
        formControlName="purposeOfVisit"
        (change)="changePurposeOfVisit($event)"
        [ngClass]="{
          'is-invalid':
            (f.purposeOfVisit.touched && f.purposeOfVisit.errors) ||
            (f.purposeOfVisit.untouched && isSubmitted),
          'is-valid': f.purposeOfVisit.valid
        }"
      >
        <option *ngFor="let purpose of purposes" value="{{ purpose }}">
          {{ purpose | titlecase }}
        </option>
      </select>
      <input
        *ngIf="f.purposeOfVisit.value === 'Others'"
        type="text"
        class="form-control"
        placeholder="Describe the purpose"
        formControlName="otherPurpose"
        [ngClass]="{
          'is-invalid':
            (f.otherPurpose.touched && f.otherPurpose.errors) ||
            (f.otherPurpose.untouched && isSubmitted),
          'is-valid': f.otherPurpose.valid
        }"
      />
      <div
        *ngIf="
          (f.purposeOfVisit.touched && f.purposeOfVisit.errors) ||
          (f.purposeOfVisit.untouched && isSubmitted) ||
          (f.otherPurpose.touched && f.otherPurpose.errors) ||
          (f.otherPurpose.untouched && isSubmitted)
        "
        class="invalid-feedback"
      >
        <div
          *ngIf="
            f.purposeOfVisit.errors?.required ||
            f.otherPurpose.errors?.required
          "
        >
          Purpose is required!
        </div>
      </div>
    </div>
    <div class="mb-3" *ngIf="f.purposeOfVisit.value === 'Interview'">
      <label for="visitorType" class="form-label">Visitor Type</label>
      <select
        class="form-select"
        id="visitorType"
        formControlName="visitorType"
        (change)="changeVisitorType($event)"
      >
        <option
          *ngFor="let visitorType of visitorTypes"
          value="{{ visitorType }}"
        >
          {{ visitorType | titlecase }}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <label for="pointOfContact" class="form-label"
        >Point Of Contact Name<span class="required">*</span></label
      >
      <input
        type="text"
        class="form-control"
        id="pointOfContact"
        formControlName="pointOfContact"
        [ngClass]="{
          'is-invalid':
            (f.pointOfContact.touched && f.pointOfContact.errors) ||
            (f.pointOfContact.untouched && isSubmitted),
          'is-valid': f.pointOfContact.valid
        }"
      />
      <div
        *ngIf="
          (f.pointOfContact.touched && f.pointOfContact.errors) ||
          (f.pointOfContact.untouched && isSubmitted)
        "
        class="invalid-feedback"
      >
        <div *ngIf="f.pointOfContact.errors?.required">
          Name is required!
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="pointOfContactEmail" class="form-label"
        >Point Of Contact Email</label
      >
      <input
        type="text"
        class="form-control"
        id="pointOfContactEmail"
        formControlName="pointOfContactEmail"
        [ngClass]="{
          'is-invalid':
            f.pointOfContactEmail.touched && f.pointOfContactEmail.errors,
          'is-valid':
            f.pointOfContactEmail.touched && f.pointOfContactEmail.valid
        }"
      />
      <div
        *ngIf="
          (f.pointOfContactEmail.touched && f.pointOfContactEmail.errors) ||
          (f.pointOfContactEmail.untouched && isSubmitted)
        "
        class="invalid-feedback"
      >
        <div *ngIf="f.pointOfContactEmail.errors?.pattern">
          Enter Valid Email ID!
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="location" class="form-label"
        >Location<span class="required">*</span></label
      >
      <input
        type="text"
        class="form-control"
        id="location"
        formControlName="location"
        [ngClass]="{
          'is-invalid':
            (f.location.touched && f.location.errors) ||
            (f.location.untouched && isSubmitted),
          'is-valid': f.location.valid
        }"
      />
      <div
        *ngIf="
          (f.location.touched && f.location.errors) ||
          (f.location.untouched && isSubmitted)
        "
        class="invalid-feedback"
      >
        <div *ngIf="f.location.errors?.required">Location is required!</div>
      </div>
    </div>
    <div class="mb-3">
      <label for="visitorImageBase64" class="form-label"
        >Profile Image<span class="required">*</span></label
      >
      <div class="row">
        <div class="col-md-6">
          <button
            type="button"
            id="visitorImageBase64"
            class="form-control btn btn-primary"
            (click)="compressFile('visitorImageBase64', 100, 100)"
          >
            Upload
          </button>
        </div>
        <div class="col-md-6 text-center">
          <img
            class="prof"
            src="{{
              formGroup.controls['visitorImageBase64'].value
                ? formGroup.controls['visitorImageBase64'].value
                : '../../../assets/images/dummy-prof.png'
            }}"
          />
        </div>
        <div
          class="required"
          *ngIf="
            f.visitorImageBase64.touched && f.visitorImageBase64.errors
          "
        >
          <div *ngIf="f.visitorImageBase64.errors?.notValid">
            &nbsp;&nbsp;&nbsp;&nbsp;Upload Only Images!
          </div>
        </div>
        <div
          class="required"
          *ngIf="
            (f.visitorImageBase64.touched &&
              f.visitorImageBase64.value === '') ||
            (f.visitorImageBase64.untouched && isSubmitted)
          "
        >
          &nbsp;&nbsp;&nbsp;&nbsp;Profile Image is required!
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="idProofType" class="form-label"
        >ID Proof<span class="required">*</span></label
      >
      <select
        class="form-select"
        id="idProofType"
        formControlName="idProofType"
        (change)="changeIdProofType($event)"
        [ngClass]="{
          'is-invalid':
            (f.idProofType.touched && f.idProofType.errors) ||
            (f.idProofType.untouched && isSubmitted),
          'is-valid': f.idProofType.valid
        }"
      >
        <option *ngFor="let IdProof of IdProofs" value="{{ IdProof }}">
          {{ IdProof.replace("_", " ") | titlecase }}
        </option>
      </select>
      <div
        *ngIf="
          (f.idProofType.touched && f.idProofType.errors) ||
          (f.idProofType.untouched && isSubmitted)
        "
        class="invalid-feedback"
      >
        <div *ngIf="f.idProofType.errors?.required">
          Id Proof is required!
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="idProofNumber" class="form-label"
        >ID Proof Number<span class="required">*</span></label
      >
      <input
        type="text"
        class="form-control"
        id="idProofNumber"
        formControlName="idProofNumber"
        [ngClass]="{
          'is-invalid':
            (f.idProofNumber.touched && f.idProofNumber.errors) ||
            (f.idProofNumber.untouched && isSubmitted),
          'is-valid': f.idProofNumber.valid
        }"
      />
      <div
        *ngIf="
          (f.idProofNumber.touched && f.idProofNumber.errors) ||
          (f.idProofNumber.untouched && isSubmitted)
        "
        class="invalid-feedback"
      >
        <div *ngIf="f.idProofNumber.errors?.required">
          ID Proof number is required!
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="idProofImageBase64" class="form-label"
        >Id Proof Image</label
      >
      <div class="row">
        <div class="col-md-6">
          <button
            type="button"
            id="idProofImageBase64"
            class="form-control btn btn-primary"
            (click)="compressFile('idProofImageBase64', 200, 100)"
          >
            Upload
          </button>
        </div>
        <div class="col-md-6 text-center">
          <img
            class="id-pic"
            src="{{
              formGroup.controls['idProofImageBase64'].value
                ? formGroup.controls['idProofImageBase64'].value
                : '../../../assets/images/id-card.png'
            }}"
          />
        </div>
        <div
          class="required"
          *ngIf="
            f.idProofImageBase64.touched && f.idProofImageBase64.errors
          "
        >
          <div *ngIf="f.idProofImageBase64.errors?.notValid">
            &nbsp;&nbsp;&nbsp;&nbsp;Upload Only Images!
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
