.required {
  color: red;
}

@media only screen and (min-width: 768px) {
  .container {
    margin-right: 0;
    padding-right: 0;
  }
}

.prof {
  height: 200px;
  width: 200px;
  margin-left: 233px;
}

.id-pic {
  max-height: 100px;
  max-width: 200px;
}

.bg-right {
  height: 130vh;
  width: 100%;
  object-fit: cover;
}

.bg-top {
  height: 20vh;
  width: 100vw;
  object-fit: cover;
  display: none;
}

@media only screen and (max-width: 768px) {
  .bg-right {
    display: none;
  }
  .bg-top {
    display: block;
  }
  .id-pic,
  .prof {
    margin-top: 2rem;
  }
}
.bottom-button {
  margin-right: 2rem;
}

.container{    
  max-width: 800px;
  left: 20%;
  position: absolute;
  top:15%;
  border: 1px solid black;
  padding: 70px;
  background-color: white;
}

::placeholder,option, [hidden]  {
  color: grey;
  opacity: 1;
  font-size: 1rem;
}

.dashed {
  border-style: dashed;
  height: 200px;
  width: 200px;
  margin-left: 220px;
  border-color: #0d6efd;
  border-radius: 10px;
}

.camera-icon {
  font-size:60px;
  margin-left: 68px;
  margin-top: 64px;
}

.submit-form {
  width: 100%;
  background-color: lightgrey;
  color: darkslategrey;
  font-weight: 600;
}

.reset-form {
  text-decoration: none;
  margin-left: 600px;
  font-size:17px;
}

.visitor-form {
  width: 100%;
  height: 180%;
  background-color: rgb(206, 220, 224);
}

.wissen-logo {
  margin-top: -100px;
  margin-left: -70px;
}

.visitors-text {
  margin-left: 267px;
  margin-top: 10px;
  width: 132px;
}