<div class="visitor-form">
<div class="container">
  <img src="./assets/images/Wissen-logo.png" class="wissen-logo">
  <form [formGroup]="formGroup" #formRef="ngForm">
    <div class="mb-3">
      <input type="text" class="form-control" id="fullName" formControlName="fullName" [ngClass]="{
          'is-invalid':
            (f.fullName.touched && f.fullName.errors) ||
            (f.fullName.untouched && isSubmitted),
          'is-valid': f.fullName.valid
        }"
        placeholder="Enter your full name here..." />
      <div *ngIf="
          (f.fullName.touched && f.fullName.errors) ||
          (f.fullName.untouched && isSubmitted)
        " class="invalid-feedback">
        <div *ngIf="f.fullName.errors?.required">Name is required!</div>
      </div>
    </div>
    <div class="mb-3">
      <input type="email" class="form-control" id="email" formControlName="email" [ngClass]="{
          'is-invalid':
            (f.email.touched && f.email.errors) ||
            (f.email.untouched && isSubmitted),
          'is-valid': f.email.valid
        }"
        placeholder="Enter your email address here..."  />
      <div *ngIf="
          (f.email.touched && f.email.errors) ||
          (f.email.untouched && isSubmitted)
        " class="invalid-feedback">
        <div *ngIf="f.email.errors?.required">Email is required!</div>
        <div *ngIf="f.email.errors?.pattern">Enter Valid Email ID!</div>
      </div>
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" id="location" formControlName="location" [ngClass]="{
          'is-invalid':
            (f.location.touched && f.location.errors) ||
            (f.location.untouched && isSubmitted),
          'is-valid': f.location.valid
        }"
        placeholder="Enter your location here..." />
      <div *ngIf="
          (f.location.touched && f.location.errors) ||
          (f.location.untouched && isSubmitted)
        " class="invalid-feedback">
        <div *ngIf="f.location.errors?.required">Location is required!</div>
      </div>
    </div>
    <div class="mb-3">
      <input type="tel" class="form-control" id="phoneNumber" formControlName="phoneNumber" [ngClass]="{
          'is-invalid':
            (f.phoneNumber.touched && f.phoneNumber.errors) ||
            (f.phoneNumber.untouched && isSubmitted),
          'is-valid': f.phoneNumber.valid
        }"
        placeholder="Enter your phone number here..."  />
      <div *ngIf="
          (f.phoneNumber.touched && f.phoneNumber.errors) ||
          (f.phoneNumber.untouched && isSubmitted)
        " class="invalid-feedback">
        <div *ngIf="f.phoneNumber.errors?.required">
          Phone Number is required!
        </div>
        <div *ngIf="f.phoneNumber.errors?.pattern">
          Numeric Only Accepted!
        </div>
        <div *ngIf="f.phoneNumber.errors?.maxlength">
          Maximum length is 10!
        </div>
      </div>
    </div>


    <div class="mb-3">
      <select class="form-select" id="purposeOfVisit" formControlName="purposeOfVisit"
        (change)="changePurposeOfVisit($event)" [ngClass]="{
          'is-invalid':
            (f.purposeOfVisit.touched && f.purposeOfVisit.errors) ||
            (f.purposeOfVisit.untouched && isSubmitted),
          'is-valid': f.purposeOfVisit.valid
        }">
        <option value="" disabled selected hidden>Purpose of visit</option>
        <option *ngFor="let purpose of purposes" value="{{ purpose }}">
          {{ purpose | titlecase }}
        </option>
      </select>
      <input *ngIf="f.purposeOfVisit.value === 'Others'" type="text" class="form-control"
        placeholder="Describe the purpose" formControlName="otherPurpose" [ngClass]="{
          'is-invalid':
            (f.otherPurpose.touched && f.otherPurpose.errors) ||
            (f.otherPurpose.untouched && isSubmitted),
          'is-valid': f.otherPurpose.valid
        }" />
      <div *ngIf="
          (f.purposeOfVisit.touched && f.purposeOfVisit.errors) ||
          (f.purposeOfVisit.untouched && isSubmitted) ||
          (f.otherPurpose.touched && f.otherPurpose.errors) ||
          (f.otherPurpose.untouched && isSubmitted)
        " class="invalid-feedback">
        <div *ngIf="
            f.purposeOfVisit.errors?.required ||
            f.otherPurpose.errors?.required
          ">
          Purpose is required!
        </div>
      </div>
    </div>
    <div class="mb-3" *ngIf="f.purposeOfVisit.value === 'Interview'">
      <select class="form-select" id="visitorType" formControlName="visitorType" (change)="changeVisitorType($event)">
        <option value="" disabled selected hidden>Visitor Types</option>
        <option *ngFor="let visitorType of visitorTypes" value="{{ visitorType }}">
          {{ visitorType | titlecase }}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <input type="text" class="form-control" id="pointOfContact" formControlName="pointOfContact" [ngClass]="{
          'is-invalid':
            (f.pointOfContact.touched && f.pointOfContact.errors) ||
            (f.pointOfContact.untouched && isSubmitted),
          'is-valid': f.pointOfContact.valid
        }"
        placeholder="Point of contact" />
      <div *ngIf="
          (f.pointOfContact.touched && f.pointOfContact.errors) ||
          (f.pointOfContact.untouched && isSubmitted)
        " class="invalid-feedback">
        <div *ngIf="f.pointOfContact.errors?.required">
          Name is required!
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col-lg-6 mb-4">
      <select class="form-select" id="idProofType" formControlName="idProofType" (change)="changeIdProofType($event)"
        [ngClass]="{
          'is-invalid':
            (f.idProofType.touched && f.idProofType.errors) ||
            (f.idProofType.untouched && isSubmitted),
          'is-valid': f.idProofType.valid
        }">
        <option value="" disabled selected hidden>Select an Identity Proof</option>
        <option *ngFor="let IdProof of IdProofs" value="{{ IdProof }}">
          {{ IdProof.replace("_", " ") | titlecase }}
        </option>
      </select>
      <div *ngIf="
          (f.idProofType.touched && f.idProofType.errors) ||
          (f.idProofType.untouched && isSubmitted)
        " class="invalid-feedback">
        <div *ngIf="f.idProofType.errors?.required">
          Id Proof is required!
        </div>
      </div>
    </div>
    <div class=" col-lg-6 mb-4">
      <input type="text" class="form-control" id="idProofNumber" formControlName="idProofNumber" [ngClass]="{
          'is-invalid':
            (f.idProofNumber.touched && f.idProofNumber.errors) ||
            (f.idProofNumber.untouched && isSubmitted),
          'is-valid': f.idProofNumber.valid
        }"
        placeholder="ID Proof Number" />
      <div *ngIf="
          (f.idProofNumber.touched && f.idProofNumber.errors) ||
          (f.idProofNumber.untouched && isSubmitted)
        " class="invalid-feedback">
        <div *ngIf="f.idProofNumber.errors?.required">
          ID Proof number is required!
        </div>
      </div>
    </div>
    </div>
    <div class="mb-3">
        <div class="mb-3">
          <div class="row">
            <div class="col-md-6" *ngIf="!f.visitorImageBase64.value; else visitorimage">
              <div class="dashed" id="visitorImageBase64" (click)="compressFile('visitorImageBase64', 100, 100)">
        <i class="fa fa-camera camera-icon"></i>
              </div>
              <p class="visitors-text">Let's click a picture</p>
            </div>
            <ng-template #visitorimage>
            <div class="col-md-6 text-center">
              <img class="prof" src="{{
                  formGroup.controls['visitorImageBase64'].value
                    ? (formGroup.controls['visitorImageBase64'].value.indexOf('data:image/png;base64,') === -1 ?
                    'data:image/png;base64,'+ formGroup.controls['visitorImageBase64'].value :
                    formGroup.controls['visitorImageBase64'].value)
                    : '../../../assets/images/dummy-prof.png'
                }}" />
                <p class="visitors-text">Picture added</p>
            </div>
          </ng-template>
            <div class="required" *ngIf="
                f.visitorImageBase64.touched && f.visitorImageBase64.errors
              ">
              <div *ngIf="f.visitorImageBase64.errors?.notValid">
                &nbsp;&nbsp;&nbsp;&nbsp;Upload Only Images!
              </div>
            </div>
            <div class="required" *ngIf="
                (f.visitorImageBase64.touched &&
                  f.visitorImageBase64.value === '') ||
                (f.visitorImageBase64.untouched && isSubmitted)
              ">
              &nbsp;&nbsp;&nbsp;&nbsp;Profile Image is required!
            </div>
          </div>
      </div>
    </div>
    <div class="form-footer">
      <a
        class="reset-form"
        (click)="resetForm()"
      >
        Reset
    </a>
      <br/>
      <button
        type="button"
        (click)="onSubmit()"
        class="btn submit-form"
      >
        Done
      </button>
    </div>
  </form>
</div>
</div>